<!DOCTYPE html>
<html>
<head>
    <title>Mi Aplicación</title>
    <link rel="stylesheet" href="style.css">
     {{#if style}}
    <link rel="stylesheet" href="/css/{{style}}">
  {{/if}}
</head>
<body>
    {{{body}}}
</body>
</html>